@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #0058bc;
    --color-primary-container: #0070eb;
    --color-on-primary: #ffffff;
    
    --color-surface: #f9f9f9;
    --color-surface-container-lowest: #ffffff;
    --color-surface-container-low: #f3f3f3;
    --color-surface-container: #eeeeee;
    --color-surface-container-high: #e8e8e8;
    --color-surface-container-highest: #e2e2e2;
    
    --color-on-surface: #1a1c1c;
    --color-on-surface-variant: #414755;
    
    --color-outline: #717786;
    --color-outline-variant: #c1c6d7;
    
    --color-secondary: #00696f;
    --color-secondary-container: #00f1fe;
  }

  .dark {
    --color-primary: #adc6ff;
    --color-primary-container: #004493;
    --color-on-primary: #001a41;
    
    --color-surface: #09090b; /* Zinc 950 */
    --color-surface-container-lowest: #000000;
    --color-surface-container-low: #18181b; /* Zinc 900 */
    --color-surface-container: #27272a; /* Zinc 800 */
    --color-surface-container-high: #3f3f46; /* Zinc 700 */
    --color-surface-container-highest: #52525b; /* Zinc 600 */
    
    --color-on-surface: #f4f4f5; /* Zinc 100 */
    --color-on-surface-variant: #d1d1d6; /* Zinc 300 */
    
    --color-outline: #52525b;
    --color-outline-variant: #3f3f46;
    
    --color-secondary: #00dbe7;
    --color-secondary-container: #004f54;
  }

  body {
    @apply bg-surface text-on-surface selection:bg-primary-container selection:text-on-primary font-sans transition-colors duration-300;
  }

  .material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 24;
  }
}

@layer utilities {
  .glass-panel {
    @apply bg-white/10 dark:bg-black/10 backdrop-blur-2xl;
  }
  .technical-grid {
    background-size: 40px 40px;
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.05) 0.5px,
        transparent 0.5px
      ),
      linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 0.5px, transparent 0.5px);
  }
  .dark .technical-grid {
    background-image: linear-gradient(
        to right,
        rgba(255, 255, 255, 0.05) 0.5px,
        transparent 0.5px
      ),
      linear-gradient(to bottom, rgba(255, 255, 255, 0.05) 0.5px, transparent 0.5px);
  }
  .ease-out-expo {
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  }
}
